## Preprocessing

In [1]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\cokuk\anaconda3\lib\site-packages (2.7.0)
Requirement already satisfied: six>=1.12.0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (1.15.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: gast<0.5.0,>=0.2.1 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: keras<2.8,>=2.7.0rc0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (2.7.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: wheel<1.0,>=0.32.0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (0.36.2)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: absl-py>=0.4.0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (0.15.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (3.7.4.3)
Requirement already satisfied: tensorflow-estimator<2.8,~=2.7.0rc0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (2.7.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (2.10.0)
Requirement already satisfied: libclang>=9.0.1 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (12.0.0)
Requirement already satisfied: tensorboard~=2.6 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (2.7.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (1.41.1)
Requirement already satisfied: numpy>=1.14.5 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (1.20.1)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: protobuf>=3.9.2 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (3.19.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.21.0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (0.22.0)
Requirement already satisfied: flatbuffers<3.0,>=1.12 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorflow) (2.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: markdown>=2.6.8 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (3.3.4)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (2.3.2)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (2.25.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (1.8.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (0.6.1)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (1.0.1)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\cokuk\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (52.0.0.post20210125)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\cokuk\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\cokuk\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\cokuk\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\cokuk\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\cokuk\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cokuk\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\cokuk\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\cokuk\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\cokuk\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (1.26.4)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\cokuk\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (3.1.1)

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import sklearn as skl

#  Import and read the charity_data.csv.

application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

Identifying target and features is going to require some data clean u

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns =[ "EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T17", "T29", "T15", "T14", "T25", "T2", "T12", "T13"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classificationif = pd.DataFrame(application_df['CLASSIFICATION'].value_counts())
classifiedIndexed = classificationif.reset_index()
classifiedIndexed

    index  CLASSIFICATION
0   C1000           17326
1   C2000            6074
2   C1200            4837
3   C3000            1918
4   C2100            1883
..    ...             ...
66  C2170               1
67  C4500               1
68  C2561               1
69  C1236               1
70  C2500               1

[71 rows x 2 columns]

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2170        1
C4500        1
C2561        1
C1236        1
C2500        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummie_data = pd.get_dummies(application_df)
dummie_data

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = dummie_data.drop("IS_SUCCESSFUL", axis = 1)
y = dummie_data["IS_SUCCESSFUL"]
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1800)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=2))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))


# Output layer

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 15

 dense_1 (Dense)             (None, 1)                 6

 dense_2 (Dense)             (None, 1)                 2

=================================================================
Total params: 23
Trainable params: 23
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the Sequential model together and customize metrics
#optimized = tf.keras.optimizers.Adam(learning_rate=0.01)
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
fitmodel = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100

ValueError: in user code:

    File "C:\Users\cokuk\anaconda3\lib\site-packages\keras\engine\training.py", line 878, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\cokuk\anaconda3\lib\site-packages\keras\engine\training.py", line 867, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\cokuk\anaconda3\lib\site-packages\keras\engine\training.py", line 860, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\cokuk\anaconda3\lib\site-packages\keras\engine\training.py", line 808, in train_step
        y_pred = self(x, training=True)
    File "C:\Users\cokuk\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\cokuk\anaconda3\lib\site-packages\keras\engine\input_spec.py", line 263, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential" is incompatible with the layer: expected shape=(None, 2), found shape=(None, 109)

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

ValueError: in user code:

    File "C:\Users\cokuk\anaconda3\lib\site-packages\keras\engine\training.py", line 1366, in test_function  *
        return step_function(self, iterator)
    File "C:\Users\cokuk\anaconda3\lib\site-packages\keras\engine\training.py", line 1356, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\cokuk\anaconda3\lib\site-packages\keras\engine\training.py", line 1349, in run_step  **
        outputs = model.test_step(data)
    File "C:\Users\cokuk\anaconda3\lib\site-packages\keras\engine\training.py", line 1303, in test_step
        y_pred = self(x, training=False)
    File "C:\Users\cokuk\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\cokuk\anaconda3\lib\site-packages\keras\engine\input_spec.py", line 263, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential" is incompatible with the layer: expected shape=(None, 2), found shape=(None, 109)

In [18]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")